.page-header {
  width: 320px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 66px;
}

.page-header__logo {
  margin: auto 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__menu {
  margin: auto 0;
}

.page-header__menu-btn {
  display: block;
  height: 18px;
  width: 24px;
  background: url("../img/icon-mobile-menu.svg") no-repeat 50% 50%;
}

.page-header__menu-item {
  padding-bottom: 10px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__menu-list {
  display: none;
}

.page-header__link {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .page-header {
    position: relative;

    &--no-js {
      flex-direction: column;
    }
  }

  .page-header__modal-close {
    width: 22px;
    height: 22px;
    display: none;
    border: none;
    background: url("../img/icon-close.svg") no-repeat 50% 50%;
    position: absolute;
    right: 22px;
    top: 8px;
  }

  .page-header__menu-open .page-header__modal-close {
    display: block;
  }

  .page-header--no-js .page-header__menu-btn {
    display: none;
  }

  .page-header--no-js .page-header__menu-item {
    display: flex;
    height: 66px;
  }

  .page-header--no-js .page-header__menu-list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  .page-header--no-js .page-header__link {
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
  }

  .page-header--no-js .page-header__logo {
    display: flex;
  }
}


@media (min-width: 768px) {
  .page-header {
    padding: 0 30px;
    width: 768px;
    height: 110px;
  }

  .page-header__logo {
    width: 173px;
    height: 60px;
    background: url("../img/logo-tablet.svg") no-repeat 50% 50%;
  }

  .page-header__modal-close {
    display: none;
  }

  .page-header__logo img {
    opacity: 0;
  }

  .page-header__menu-list {
    display: flex;
    list-style: none;
    width: 440px;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .page-header__menu-btn {
    display: none;
  }
}

@media (min-width: 1300px) {
  .page-header {
    width: 1300px;
    padding: 52px 40px 0 40px;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat 112% 0;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }

    &--catal {
      background: none;
    }
  }

  .page-header__modal-close {
    display: none;
  }
  
  .page-header__active-index {
    border-color: white;
  }

  .page-header__menu-list {
    width: 475px;
    font-size: 20px;
    margin-top: 21px;
  }

  .page-header__logo {
    width: 205px;
    height: 60px;
    background: url("../img/logo-desktop.svg") no-repeat 50% 50%;
  }

  .page-header__link {
    color: white;

    &--other {
      color: black;
    }
  }

  .page-header--catal .page-header__link {
    color: black;
  }
}
