.categories {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
}

.categories__less {
  width: 100%;
  margin: 24px auto;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background: #68b738;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0;
    z-index: 2;
    left: 23px;
    top: 23px;
  }

  &::after {
    content: "";
    background: url("../img/icon-cat-slim.svg") no-repeat 10% 50%;
    position: absolute;
    left: 30px;
    top: 21px;
    display: block;
    height: 49px;
    width: 35px;
    z-index: 3;
    margin: 0;
  }
}

.categories__less-description {
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  margin: 30px 0 0 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;
}

.categories__less-title {
  font-size: 24px;
  line-height: 37px;
  position: relative;
  text-transform: uppercase;
  margin: 28px 0 0 93px;
  width: 120px;
}

.categories__less-catalog {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  width: 240px;
  margin: 19px auto 17px auto;
  background: url("../img/icon-right-arrow-long.svg") no-repeat 45% 50%;
  background-size: 24px 12px;
}

.categories__more {
  width: 100%;
  margin: 24px auto 17px auto;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background: #68b738;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0;
    z-index: 2;
    left: 23px;
    top: 23px;
  }

  &::after {
    content: "";
    background: url("../img/icon-cat-pro.svg") no-repeat 10% 50%;
    position: absolute;
    top: 34px;
    left: 12px;
    display: block;
    height: 28px;
    width: 67px;
    z-index: 3;
  }
}

.categories__more-description {
  width: 240px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  margin: 30px 0 0 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;
}

.categories__more-title {
  font-size: 24px;
  line-height: 37px;
  position: relative;
  text-transform: uppercase;
  margin: 28px 0 0 93px;
  width: 160px;
}

.categories__more-catalog {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  width: 240px;
  margin: 19px auto 17px auto;
  background: url("../img/icon-right-arrow-long.svg") no-repeat 45% 50%;
  background-size: 24px 12px;
}

@media (min-width: 768px) {
  .categories {
    width: 768px;
    padding: 0 30px;
  }

  .categories__less {
    height: 372px;
    padding: 10px 53px;
    box-sizing: border-box;
    margin: 13px auto;

    &::before {
      width: 200px;
      height: 200px;
      top: 90px;
      left: 445px;
    }

    &::after {
      left: 475px;
      top: 78px;
      height: 195px;
      width: 144px;
    }
  }

  .categories__less-description {
    width: 375px;
    height: 145px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  .categories__less-bg {
    width: 200px;
    height: 200px;
    top: 90px;
    left: 445px;
  }

  .categories__less-cat {
    left: 475px;
    top: 78px;
    height: 195px;
    width: 144px;
  }

  .categories__less-title {
    font-size: 36px;
    text-align: left;
    height: 50px;
    padding: 0;
    margin: 63px 0 15px 0;
  }

  .categories__less-catalog {
    margin: 4px 0;
    padding: 0;
    font-size: 20px;
    width: 300px;
    height: 25px;
    background-position: 48% 48%;

    &:hover {
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-size: 33px 10px;
      background-position: 89% 48%;
      width: 180px;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .categories__more {
    height: 372px;
    padding: 7px 52px;
    box-sizing: border-box;
    margin: 28px auto 45px auto;

    &::before {
      width: 200px;
      height: 200px;
      top: 93px;
      left: 447px;
    }

    &::after {
      left: 410px;
      top: 80px;
      height: 221px;
      width: 270px;
    }
  }

  .categories__more-description {
    width: 340px;
    height: 148px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  .categories__more-title {
    font-size: 36px;
    text-align: left;
    height: 50px;
    width: 215px;
    padding: 0;
    margin: 70px 0 11px 0;
  }

  .categories__more-catalog {
    margin: 3px 0;
    padding: 0;
    font-size: 20px;
    width: 300px;
    height: 25px;
    background-position: 46% 48%;

    &:hover {
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-size: 33px 10px;
      background-position: 85% 48%;
      width: 180px;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 1300px) {
  .categories {
    width: 1300px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .categories__less {
    width: 570px;
    margin: 24px 0;

    &::before {
      top: 47px;
      left: 54px;
      padding: 0;
      width: 100px;
      height: 100px;
    }

    &::after {
      left: 68px;
      top: 40px;
      height: 100px;
      width: 70px;
    }
  }

  .categories__less-title {
    text-align: center;
    width: 250px;
    margin: 69px auto 61px auto;
    padding-left: 25px;
  }

  .categories__less-description {
    width: 465px;
    height: 75px;
    margin-bottom: 23px;
  }

  .categories__less-catalog {
    width: 170px;
    margin: 4px 0;
    padding: 0;
    background-position: 91% 44%;
  }

  .categories__more {
    width: 570px;
    margin: 24px 0;

    &::before {
      top: 47px;
      left: 54px;
      padding: 0;
      width: 100px;
      height: 100px;
    }

    &::after {
      left: 37px;
      top: 50px;
      height: 95px;
      width: 133px;
    }
  }

  .categories__more-title {
    text-align: center;
    width: 275px;
    margin: 72px auto 61px auto;
    padding-left: 65px;
  }

  .categories__more-description {
    width: 465px;
    height: 75px;
    margin-bottom: 23px;
  }

  .categories__more-catalog {
    width: 170px;
    margin: 4px 2px;
    padding: 0;
    background-position: 86% 50%;
  }
}
