.page-header {
  width: 320px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 66px; }

.page-header__logo {
  margin: auto 0; }

.page-header__menu {
  margin: auto 0; }

.page-header__menu-btn {
  display: block;
  height: 18px;
  width: 24px;
  background: url("../img/icon-mobile-menu.svg") no-repeat 50% 50%; }

.page-header__menu-list {
  display: none; }

.page-header__link {
  text-decoration: none;
  color: black; }

@media (max-width: 768px) {
  .page-header {
    position: relative; }
    .page-header--no-js {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .page-header__modal-close {
    width: 22px;
    height: 22px;
    display: none;
    border: none;
    background: url("../img/icon-close.svg") no-repeat 50% 50%;
    position: absolute;
    right: 22px;
    top: 8px; }
  .page-header__menu-open .page-header__modal-close {
    display: block; }
  .page-header--no-js .page-header__menu-btn {
    display: none; }
  .page-header--no-js .page-header__menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 66px; }
  .page-header--no-js .page-header__menu-list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0; }
  .page-header--no-js .page-header__link {
    margin: auto;
    font-size: 20px;
    text-transform: uppercase; }
  .page-header--no-js .page-header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (min-width: 768px) {
  .page-header {
    padding: 0 30px;
    width: 768px;
    height: 110px; }
  .page-header__logo {
    width: 173px;
    height: 60px;
    background: url("../img/logo-tablet.svg") no-repeat 50% 50%; }
  .page-header__modal-close {
    display: none; }
  .page-header__logo img {
    opacity: 0; }
  .page-header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    width: 440px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase; }
  .page-header__menu-btn {
    display: none; } }

@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
    padding: 52px 110px 0 110px;
    background: url("../img/index-background-desktop@1x.jpg") no-repeat 100% 0; } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto; } }

@media (min-width: 1440px) {
    .page-header--catal {
      background: none; }
  .page-header__modal-close {
    display: none; }
  .page-header__menu-list {
    width: 475px;
    font-size: 20px; }
  .page-header__logo {
    width: 205px;
    height: 60px;
    background: url("../img/logo-desktop.svg") no-repeat 50% 50%; }
  .page-header__link {
    color: white; }
    .page-header__link--other {
      color: black; }
  .page-header--catal .page-header__link {
    color: black; } }

.main-header {
  background: url("../img/index-can-mobile@1x.png") no-repeat 50% 80%, url("../img/index-background-mobile@1x.jpg") no-repeat 50% 0;
  width: 320px;
  min-height: 480px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .main-header {
      background-image: url("../img/index-can-mobile@2x.jpg"), url("../img/index-background-mobile@2x.jpg");
      background-size: 280px 271px, 640px 610px; } }

.main-header__title {
  color: white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 500;
  margin: 27px 0 10px 0; }

.main-header__question {
  color: white;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500; }

.main-header__btn {
  display: block;
  width: 280px;
  height: 40px;
  background-color: #68b738;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto auto 0 auto; }

@media (min-width: 768px) {
  .main-header {
    width: 768px;
    min-height: 830px;
    padding: 0 118px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: url("../img/index-can-tablet@1x.jpg") no-repeat 50% 105%; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .main-header {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px 609px; } }

@media (min-width: 768px) {
  .main-header__title {
    color: black;
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 32px 0 25px 0; }
  .main-header__question {
    color: black;
    font-size: 20px;
    text-align: left;
    margin: 20px 0 50px 0; }
  .main-header__btn {
    width: 247px;
    height: 50px;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 16px; } }

@media (min-width: 1440px) {
  .main-header {
    width: 1440px;
    padding: 79px 110px 0 192px;
    min-height: 586px;
    background: url("../img/index-can-desktop@1x.png") no-repeat 561px 30px, url("../img/index-background-desktop@1x.jpg") no-repeat 100% -110px;
    margin-bottom: 53px; } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
    .main-header {
      background-image: url("../img/index-can-desktop@2x.png"), url("../img/index-background-desktop@2x.jpg");
      background-size: 552px auto, 720px auto; } }

@media (min-width: 1440px) {
  .main-header__question {
    margin: 20px 0 56px 0; } }

.categories {
  width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.categories__less {
  width: 100%;
  margin: 24px auto;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.categories__less-bg {
  position: absolute;
  display: block;
  background: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
  z-index: 2;
  left: 23px;
  top: 23px; }

.categories__less-cat {
  background: url("../img/icon-cat-slim.svg") no-repeat 10% 50%;
  position: absolute;
  left: 30px;
  top: 21px;
  display: block;
  height: 49px;
  width: 35px;
  z-index: 3;
  margin: 0; }

.categories__less-description {
  width: 230px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  margin: 30px 0 22px 20px; }

.categories__less-title {
  font-size: 24px;
  line-height: 37px;
  position: relative;
  text-transform: uppercase;
  margin: 28px 0 0 93px;
  width: 120px; }

.categories__less-catalog {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  width: 240px;
  margin: 14px auto 17px auto;
  background: url("../img/icon-right-arrow-verylong.svg") no-repeat 44% 50%;
  background-size: 23px auto; }

.categories__more {
  width: 100%;
  margin: 24px auto 17px auto;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.categories__more-description {
  width: 230px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  margin: 30px 0 22px 20px; }

.categories__more-title {
  font-size: 24px;
  line-height: 37px;
  position: relative;
  text-transform: uppercase;
  margin: 28px 0 0 93px;
  width: 160px; }

.categories__more-cat {
  background: url("../img/icon-cat-pro.svg") no-repeat 10% 50%;
  position: absolute;
  top: 34px;
  left: 12px;
  display: block;
  height: 28px;
  width: 67px;
  z-index: 3; }

.categories__more-catalog {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  width: 240px;
  margin: 14px auto 17px auto;
  background: url("../img/icon-right-arrow-verylong.svg") no-repeat 45% 50%;
  background-size: 23px auto; }

.categories__more-bg {
  position: absolute;
  display: block;
  background: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
  z-index: 2;
  left: 23px;
  top: 23px; }

@media (min-width: 768px) {
  .categories {
    width: 768px;
    padding: 0 30px; }
  .categories__less {
    height: 372px;
    padding: 0 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .categories__less-description {
    width: 375px;
    height: 145px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0; }
  .categories__less-bg {
    width: 200px;
    height: 200px;
    top: 80px;
    left: 445px; }
  .categories__less-cat {
    left: 475px;
    top: 70px;
    height: 195px;
    width: 144px; }
  .categories__less-title {
    font-size: 36px;
    text-align: left;
    height: 50px;
    padding: 0;
    margin: 63px 0 15px 0; }
  .categories__less-catalog {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 300px;
    height: 25px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat 47% 50%;
    background-size: 23px auto; }
  .categories__more {
    height: 372px;
    padding: 0 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .categories__more-description {
    width: 340px;
    height: 148px;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0; }
  .categories__more-bg {
    width: 200px;
    height: 200px;
    top: 80px;
    left: 445px; }
  .categories__more-cat {
    left: 410px;
    top: 49px;
    height: 221px;
    width: 270px; }
  .categories__more-title {
    font-size: 36px;
    text-align: left;
    height: 50px;
    width: 210px;
    padding: 0;
    margin: 70px 0 11px 0; }
  .categories__more-catalog {
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 300px;
    height: 25px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat 47% 50%;
    background-size: 23px auto; } }

@media (min-width: 1440px) {
  .categories {
    width: 1440px;
    padding: 0 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px; }
  .categories__less {
    width: 570px;
    margin: 24px 0; }
  .categories__less-bg {
    position: absolute;
    display: block;
    background: #68b738;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0;
    top: 47px;
    left: 54px;
    padding: 0;
    width: 100px;
    height: 100px; }
  .categories__less-cat {
    left: 68px;
    top: 40px;
    height: 100px;
    width: 70px; }
  .categories__less-title {
    text-align: center;
    width: 250px;
    margin: 77px auto 61px auto;
    padding-left: 25px; }
  .categories__less-description {
    width: 465px;
    height: 75px;
    margin-bottom: 23px; }
  .categories__less-catalog {
    width: 170px;
    margin: 0;
    padding: 0;
    background-position: 90% 70%; }
  .categories__more {
    width: 570px;
    margin: 24px 0; }
  .categories__more-bg {
    position: absolute;
    display: block;
    background: #68b738;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0;
    top: 47px;
    left: 54px;
    padding: 0;
    width: 100px;
    height: 100px; }
  .categories__more-cat {
    left: 37px;
    top: 50px;
    height: 95px;
    width: 133px; }
  .categories__more-title {
    text-align: center;
    width: 275px;
    margin: 77px auto 61px auto;
    padding-left: 65px; }
  .categories__more-description {
    width: 465px;
    height: 75px;
    margin-bottom: 23px; }
  .categories__more-catalog {
    width: 170px;
    margin: 0;
    padding: 0;
    background-position: 86% 70%; } }

.explanation {
  width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.explanation__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.explanation__title {
  font-size: 36px;
  line-height: 60px;
  margin: 0; }

.explanation__description {
  margin: 13px 0; }

.explanation__item {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: no-repeat 5% 50%;
  position: relative; }
  .explanation__item--food {
    display: block;
    width: 60px;
    height: 60px;
    background: #68b738 no-repeat 50% 50%;
    position: absolute;
    left: 0;
    top: 11px;
    padding-left: 0;
    background-image: url("../img/advantage-leaf@1x.png"); }
  .explanation__item--recipe {
    display: block;
    width: 60px;
    height: 60px;
    background: #68b738 no-repeat 50% 50%;
    position: absolute;
    left: 0;
    top: 11px;
    padding-left: 0;
    background-image: url("../img/advantage-powder@1x.png"); }
  .explanation__item--periodicity {
    display: block;
    width: 60px;
    height: 60px;
    background: #68b738 no-repeat 50% 50%;
    position: absolute;
    left: 0;
    top: 11px;
    padding-left: 0;
    background-image: url("../img/advantage-dining@1x.png"); }
  .explanation__item--month {
    display: block;
    width: 60px;
    height: 60px;
    background: #68b738 no-repeat 50% 50%;
    position: absolute;
    left: 0;
    top: 11px;
    padding-left: 0;
    background-image: url("../img/advantage-clock@1x.png"); }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .explanation__item--food {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 50px 50px; }
  .explanation__item--recipe {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 50px 50px; }
  .explanation__item--periodicity {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 50px 50px; }
  .explanation__item--month {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 50px 50px; } }

@media (min-width: 768px) {
  .explanation {
    width: 768px;
    padding: 0 30px; }
  .explanation__description {
    width: 250px;
    font-size: 16px;
    line-height: 24px;
    padding: 0; }
  .explanation__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .explanation__title {
    font-size: 60px;
    margin: 38px 0 70px 0; }
  .explanation__item {
    width: 324px;
    padding: 100px 0 0 0;
    margin-bottom: 120px; }
    .explanation__item--food {
      top: 1px;
      width: 81px;
      height: 81px;
      padding: 0; }
    .explanation__item--recipe {
      width: 81px;
      height: 81px;
      top: 1px;
      padding: 0; }
    .explanation__item--periodicity {
      width: 81px;
      height: 81px;
      top: 1px;
      padding: 0; }
    .explanation__item--month {
      width: 81px;
      height: 81px;
      top: 1px;
      padding: 0; } }

@media (min-width: 1440px) {
  .explanation {
    width: 1440px;
    padding: 0 110px; }
  .explanation__title {
    margin-bottom: 44px; }
  .explanation__description {
    margin: 27px 0; }
  .explanation__item {
    width: 245px;
    margin: 13px 0; }
    .explanation__item--food {
      width: 81px; }
    .explanation__item--recipe {
      width: 81px; }
    .explanation__item--periodicity {
      width: 81px; }
    .explanation__item--month {
      width: 81px; }
  .explanation__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.page-footer {
  width: 320px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-footer__link {
  display: block;
  height: 19px;
  width: 24px;
  background: no-repeat 50% 50%;
  margin: 0 auto 31px auto; }
  .page-footer__link--vk {
    background-image: url("../img/icon-vk-mobile.svg"); }
  .page-footer__link--insta {
    background-image: url("../img/icon-insta-mobile.svg"); }
  .page-footer__link--fb {
    background-image: url("../img/icon-fb-mobile.svg"); }
  .page-footer__link--logo {
    width: 128px;
    height: 24px; }

.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0; }
  .page-footer__copyright--dev {
    margin: auto 0;
    letter-spacing: 2px; }

.page-footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 133px;
  height: 19px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 22px auto; }

@media (min-width: 768px) {
  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 768px;
    padding: 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-footer__link--logo {
    margin: 0; }
  .page-footer__social {
    height: 50px; }
  .page-footer__copyright {
    margin: 0; }
    .page-footer__copyright--dev {
      margin-right: 12px; }
  .page-footer__list {
    margin: 0; } }

@media (min-width: 1440px) {
  .page-footer {
    width: 1440px;
    padding: 0 110px; }
  .page-footer__link--logo {
    width: 152px; } }

.catalog-main {
  width: 320px; }

.catalog-main__title {
  font-size: 36px;
  line-height: 60px;
  margin: 13px 20px 27px 20px; }

.catalog-main__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.catalog-main__item {
  width: 280px;
  margin: 0 auto 15px auto;
  padding: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.catalog-main__name {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  width: 80px;
  margin-bottom: 13px; }

.catalog-main__description {
  margin-bottom: 16px; }

.catalog-main__photo {
  display: block;
  width: 134px;
  height: 140px; }

.catalog-main__button {
  width: 280px;
  margin: 0 auto;
  height: 40px;
  background-color: #68b738;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.catalog-main__table {
  width: 140px;
  font-size: 14px;
  line-height: 14px; }
  .catalog-main__table--right-col {
    text-align: right; }

.catalog-main__add-item {
  display: block;
  width: 100px;
  height: 30px;
  margin: 20px auto 25px auto;
  background: url("../img/icon-plus-mobile.svg") no-repeat 50% 50%; }

.catalog-main__show-more {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto; }

.catalog-main__show-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 8px auto; }

.catalog-main__show-btn {
  display: block;
  width: 280px;
  margin: 15px auto;
  height: 40px;
  background-color: #f2f2f2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .catalog-main {
    width: 768px; }
  .catalog-main__title {
    font-size: 60px;
    margin: 30px 2px;
    padding: 0 30px; }
  .catalog-main__list {
    width: 768px;
    padding: 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog-main__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    position: relative;
    margin: 0;
    width: 324px;
    height: 431px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 126px;
    background-color: #f2f2f2;
    margin-top: 139px; }
    .catalog-main__item--last-item {
      padding-top: 6px; }
  .catalog-main__name {
    margin: 39px auto 0 auto;
    width: 135px;
    font-size: 20px; }
  .catalog-main__show-description {
    font-size: 16px;
    width: 200px;
    margin: 8px auto 75px auto; }
  .catalog-main__table {
    margin: 16px auto;
    width: 250px;
    height: 28px;
    font-family: "Arial", sans-serif;
    text-align: left;
    font-size: 16px; }
    .catalog-main__table--right-col {
      text-align: right; }
  .catalog-main__button {
    width: 250px; }
  .catalog-main__add-item {
    background: url("../img/icon-plus.svg") no-repeat 50% 50%;
    width: 60px;
    height: 60px;
    opacity: 0.2;
    margin: 49px auto; }
  .catalog-main__show-more {
    width: 135px;
    font-size: 20px;
    margin: 0 auto 20px auto; }
  .catalog-main__photo {
    margin: 0;
    position: absolute; }
    .catalog-main__photo--chicken-500 {
      top: -50px; }
    .catalog-main__photo--chicken-1000 {
      top: -82px; }
    .catalog-main__photo--fish-500 {
      top: -50px; }
    .catalog-main__photo--fish-1000 {
      top: -82px; }
    .catalog-main__photo--buckwheat-500 {
      top: -50px; }
    .catalog-main__photo--buckwheat-1000 {
      top: -82px; }
    .catalog-main__photo--rice-500 {
      top: -50px; } }

@media (min-width: 1440px) {
  .catalog-main__title {
    padding: 0 110px;
    margin: 75px 2px 27px 2px; }
  .catalog-main__list {
    width: 1440px;
    padding: 0 110px; }
  .catalog-main__item {
    width: 245px; }
    .catalog-main__item--last-item {
      background: white;
      border: 1px solid #f2f2f2; }
  .catalog-main__table {
    width: 170px; }
  .catalog-main__button {
    width: 170px; }
  .catalog-main__show-description {
    line-height: 18px; }
  .catalog-main__show-btn {
    width: 170px; } }

body {
  font-family: "Oswald", "Arial", sans-serif;
  margin: 0 auto;
  width: 320px; }

@media (min-width: 768px) {
  body {
    width: 768px; } }

@media (min-width: 1440px) {
  body {
    width: 1440px; } }

.separator--catalog {
  display: block;
  height: 1px;
  background-color: #d9d9d9;
  margin: 0 auto;
  width: 320px; }

.separator--footer {
  display: block;
  height: 1px;
  background-color: #d9d9d9;
  margin: 0 auto;
  width: 280px; }

.separator--categories {
  display: block;
  height: 1px;
  background-color: #d9d9d9;
  margin: 0 auto;
  width: 240px; }

@media (min-width: 768px) {
  .separator {
    display: none; } }

/*# sourceMappingURL=style.css.map */
